* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3eee8; /* CREMA */
  color: #3a2f2a;
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 85vh;
  background: url("/rsc/HomeBackground.JPG") center/cover no-repeat;
  display: flex;
  align-items:flex-start;
  padding-left: 10%;
  color: white;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 120px;
  font-weight: 400;
}

.hero-content p {
  letter-spacing: 4px;
  margin: 15px 0 30px;
  font-size: 30px;
}

/* BOTONES */
.btn {
  background-color: #c9a47e;
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  letter-spacing: 2px;
  transition: 0.3s;
  
}

.btn:hover {
  background-color: #b58f6b;
}

/* ABOUT */
.about {
  padding: 100px 10%;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 30px;
}

.about-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-images img {
  width: 100%;
  display: block;
}

/* SERVICES */
.services {
  background-color: #e9e2dc;
  padding: 100px 10%;
}

.section-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-bottom: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-card img {
  width: 100%;
  display: block;
  transition: 0.4s ease;
}

.service-card h3 {
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.service-card p{
  font-size: 14px;
  margin-top: 10px;
}

/* EFECTO HOVER */
.service-card:hover img {
  transform: scale(1.05);
}

.center-btn {
  text-align: center;
  margin-top: 50px;
}

/* STORY */
.story {
  padding: 100px 10%;
}

.story-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.story-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-bottom: 20px;
}

.story-image img {
  width: 100%;
  display: block;
}
